## distinct() & dropDuplicates()
- pyspark distinct() function is used to remove duplicate rows (all columns)
- dropDuplicate() function is used to remove duplicates based on selected (one or muliple columns)
- so basically we will get distinct rows by using these functions

In [0]:
data = [(1 , 'athiya' , 'female' , 2000),
        (2 , 'rimsha' , 'female' , 3000),
        (3 , 'Rehan' , 'male' , 4000),
        (4 , 'Neha' , 'female' , 5000)]

schema = ['Id' , 'Name' , 'Gender' , 'Salary']
df = spark.createDataFrame(data , schema)
df.show()

+---+------+------+------+
| Id|  Name|Gender|Salary|
+---+------+------+------+
|  1|athiya|female|  2000|
|  2|rimsha|female|  3000|
|  3| Rehan|  male|  4000|
|  4|  Neha|female|  5000|
+---+------+------+------+

In [0]:
df1 = df.distinct()
df1.show()

+---+------+------+------+
| Id|  Name|Gender|Salary|
+---+------+------+------+
|  1|athiya|female|  2000|
|  2|rimsha|female|  3000|
|  3| Rehan|  male|  4000|
|  4|  Neha|female|  5000|
+---+------+------+------+

In [0]:
df.dropDuplicates(['Gender']).show()

+---+------+------+------+
| Id|  Name|Gender|Salary|
+---+------+------+------+
|  1|athiya|female|  2000|
|  3| Rehan|  male|  4000|
+---+------+------+------+