In [0]:
data = [(1,'Maheer','M',2000,'IT'),(2,'wafa','M',4000,'HR'),(3,'asi','F',3000,'Payroll'),(4,'sarfaraj','M',3000,'HR')]
schema = ['Id','Name','Gender','Salary','dep']

df = spark.createDataFrame(data,schema)
df.show()

+---+--------+------+------+-------+
| Id|    Name|Gender|Salary|    dep|
+---+--------+------+------+-------+
|  1|  Maheer|     M|  2000|     IT|
|  2|    wafa|     M|  4000|     HR|
|  3|     asi|     F|  3000|Payroll|
|  4|sarfaraj|     M|  3000|     HR|
+---+--------+------+------+-------+

## Both sort() & orderBy() acts as same

In [0]:
df.sort(['Salary']).show()
df.orderBy(df.Salary).show()

+---+--------+------+------+-------+
| Id|    Name|Gender|Salary|    dep|
+---+--------+------+------+-------+
|  1|  Maheer|     M|  2000|     IT|
|  4|sarfaraj|     M|  3000|     HR|
|  3|     asi|     F|  3000|Payroll|
|  2|    wafa|     M|  4000|     HR|
+---+--------+------+------+-------+

+---+--------+------+------+-------+
| Id|    Name|Gender|Salary|    dep|
+---+--------+------+------+-------+
|  1|  Maheer|     M|  2000|     IT|
|  3|     asi|     F|  3000|Payroll|
|  4|sarfaraj|     M|  3000|     HR|
|  2|    wafa|     M|  4000|     HR|
+---+--------+------+------+-------+

In [0]:
df.sort(df.Name.desc()).show()

+---+--------+------+------+-------+
| Id|    Name|Gender|Salary|    dep|
+---+--------+------+------+-------+
|  2|    wafa|     M|  4000|     HR|
|  4|sarfaraj|     M|  3000|     HR|
|  3|     asi|     F|  3000|Payroll|
|  1|  Maheer|     M|  2000|     IT|
+---+--------+------+------+-------+

In [0]:
df.sort(df.dep.desc()).show()

+---+--------+------+------+-------+
| Id|    Name|Gender|Salary|    dep|
+---+--------+------+------+-------+
|  3|     asi|     F|  3000|Payroll|
|  1|  Maheer|     M|  2000|     IT|
|  2|    wafa|     M|  4000|     HR|
|  4|sarfaraj|     M|  3000|     HR|
+---+--------+------+------+-------+

In [0]:
df.sort(df.Name.asc(),df.dep.desc()).show()
df.orderBy(df.Name.asc(),df.dep.desc()).show()

+---+--------+------+------+-------+
| Id|    Name|Gender|Salary|    dep|
+---+--------+------+------+-------+
|  1|  Maheer|     M|  2000|     IT|
|  3|     asi|     F|  3000|Payroll|
|  4|sarfaraj|     M|  3000|     HR|
|  2|    wafa|     M|  4000|     HR|
+---+--------+------+------+-------+

+---+--------+------+------+-------+
| Id|    Name|Gender|Salary|    dep|
+---+--------+------+------+-------+
|  1|  Maheer|     M|  2000|     IT|
|  3|     asi|     F|  3000|Payroll|
|  4|sarfaraj|     M|  3000|     HR|
|  2|    wafa|     M|  4000|     HR|
+---+--------+------+------+-------+